doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Новая статья
    style
    body
        h1 Новая статья
        form(method="POST" action="/articles")
            input(type="text" name="title")
            input(type="text" name="content")
            button(type="submit") Создать